.textInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 13px;
  width: 100%;
}

.textInput input {
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  color: #676767;
  resize: none;
  -webkit-font-smoothing: antialiased;
}

.textInput textarea {
  resize: none;
  height: 140px;
  font-family: inherit;
}

.textInput input::placeholder {
  color: #cfcfcf;
}

.textInput input:focus {
  outline: none;
}

.textInput.inputError input {
  border-color: #f73939;
}

.textInput input:disabled {
  color: #999999;
  background-color: #f5f5f5;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  margin-bottom: 4px;
}

.inputError {
  border-color: #f73939;
}

.errorText {
  color: #f73939;
}
