.selectInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.label {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-weight: 600;
  margin-bottom: 4px;
}

.inputError {
  color: #f73939;
}
