@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* These dimensions must match dimensions defined in active-chat-session component */
  --chatwindow-width: 400px;
  --gap-width: 20px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translate(-35px, -35px);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0px, 0px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@media (min-width: 1180px) {
  :root {
    --chatwindow-width: 400px;
    --gap-width: 16px;
  }
}

/* Example for larger screens */
@media (max-width: 992px) {
  :root {
    --chatwindow-width: 400px;
    --gap-width: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type="checkbox"] {
  @apply appearance-none relative border border-slate-400 w-6 h-6
}

input[type="checkbox"]:checked {
  /* @apply bg-fuchsia-200 dark:bg-sky-200 */
}

input[type="checkbox"]::before {
  content: "";
  clip-path: polygon(0px 42.5%, 30.24% 26.33%, 36.16% 59.49%, 91.08% 22.41%, 100.08% 53.65%, 19% 91.57%);
}

input[type="checkbox"]:checked::before {
  @apply absolute w-5 h-5 left-[2px] top-[-1px] rotate-[-15deg] bg-moongray-300
}

.btn-primary {
  @apply text-white text-sm px-3 py-1.5
  bg-slate-500 hover:bg-slate-500/80 active:bg-slate-400
  dark:bg-sky-700 dark:hover:bg-sky-800 dark:active:bg-sky-600;
}

.btn-outline {
  @apply text-white text-sm px-3 py-1.5
  bg-fuchsia-900 hover:bg-fuchsia-800 active:bg-fuchsia-700
  dark:bg-sky-700 dark:hover:bg-sky-800 dark:active:bg-sky-600;
}

.btn-small {
  @apply h-6 py-0 px-[7px] text-xs
}

.btn-large {
  @apply h-10 px-4
}

button:disabled {
  @apply cursor-not-allowed pointer-events-none bg-slate-500 dark:bg-sky-700 opacity-50;
}

.scroll-container {
  @apply snap-mandatory overflow-y-auto overflow-x-hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 h-2 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400/80 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400/60;
}

.fadeScaleInAnimation {
  animation: fadeScaleIn 0.2s ease-out forwards;
}

.ring
{
  @apply text-moonpurplelight;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80px;
  height:80px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:80px;
  font-family:sans-serif;
  font-size:10px;
  letter-spacing:2px;
  text-transform:uppercase;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}

.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:80px;
  height:80px;
  border:3px solid transparent;
  border-radius:50%;
  animation:animateC 2s linear infinite;
  @apply border-t-moonpurplelight border-r-moonpurplelight;
}

.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}

.ring span:before
{
  @apply bg-moonpurplelight;
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  top:-6px;
  right:-8px;
}

.dust-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/texture.png');
  background-repeat: repeat;
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
