@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.btn-primary {
  @apply text-white text-sm rounded px-3 py-1.5
  bg-fuchsia-900 hover:bg-fuchsia-800 active:bg-fuchsia-700
  dark:bg-sky-700 dark:hover:bg-sky-800 dark:active:bg-sky-600;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(122, 121, 122, 0.4);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translate(-35px, -35px);;
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0px, 0px);
  }
}

.fadeScaleInAnimation {
  animation: fadeScaleIn 0.2s ease-out forwards;
}
