@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* These dimensions must match dimensions defined in active-chat-session component */
  --chatwindow-width: 400px;
  --gap-width: 20px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translate(-35px, -35px);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0px, 0px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@media (min-width: 1180px) {
  :root {
    --chatwindow-width: 500px;
    --gap-width: 20px;
  }
}

/* Example for larger screens */
@media (max-width: 992px) {
  :root {
    --chatwindow-width: 400px;
    --gap-width: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type="checkbox"] {
  @apply appearance-none relative border border-slate-400
}

input[type="checkbox"]:checked {
  @apply bg-fuchsia-200 dark:bg-sky-200
}

input[type="checkbox"]::before {
  content: "";
  clip-path: polygon(0 18%, 18% 10%, 28% 35%, 87% 2%, 96% 21%, 19% 63%);
}

input[type="checkbox"]:checked::before {
  @apply absolute w-5 h-5 left-[2px] top-[-1px] rotate-[-15deg] bg-gray-600 dark:bg-slate-800
}

.btn-primary {
  @apply text-white text-sm px-3 py-1.5
  bg-slate-500 hover:bg-slate-500/80 active:bg-slate-400
  dark:bg-sky-700 dark:hover:bg-sky-800 dark:active:bg-sky-600;
}

.btn-outline {
  @apply text-white text-sm px-3 py-1.5
  bg-fuchsia-900 hover:bg-fuchsia-800 active:bg-fuchsia-700
  dark:bg-sky-700 dark:hover:bg-sky-800 dark:active:bg-sky-600;
}

.btn-small {
  @apply h-6 py-0 px-[7px] text-xs
}

.btn-large {
  @apply h-10 px-4
}

button:disabled {
  @apply cursor-not-allowed pointer-events-none bg-slate-500 dark:bg-sky-700 opacity-50;
}

.scroll-container {
  @apply snap-mandatory overflow-y-auto overflow-x-hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400/80 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400/60;
}

.fadeScaleInAnimation {
  animation: fadeScaleIn 0.2s ease-out forwards;
}

.chat-window-container {
  @apply absolute flex overflow-hidden h-[550px] top-[150px] left-[50%] transform-gpu;
  transform: translate(-50%);
  width: calc(3 * var(--chatwindow-width) + 2 * var(--gap-width));
}

.chat-window-slide {
  @apply flex w-full h-full gap-x-[50px] transition-transform duration-300 ease-in-out;
}
